
/tests/_data/fixtures/*/node_modules/
/tests/_log/
/tests/_support/_generated/
/tests/*.suite.yml
/codeception.yml
/RoboFileLocal.php

/vendor/

/.git-hooks.local

/phpcs.xml

/robo.yml
/RoboFileExample.php
